@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');
@import './index.css';

body {
  @apply bg-bg-main text-text-main font-open-sans;
}